body {
    background: rgb(234, 242, 255);
}

#top-table {
    border-radius: 5%;
    height: 55px;
}

#top-table-button {
    border-radius: 5%;
    transition: background 0.3s ease, color 0.2s linear;
    width: 24.6%;
    text-align: center;
    height: 55px;
    display: inline-block;
    font-size: 275%;
    text-decoration: none;
    color: white !important;
    background-color: #599bff;
}

#top-table-button:hover {
    color: #74a8ed !important;
    background-color: #00378a;
}

#icons-button {
    width: 7.5%;
    height: auto;
}
