body {
    background-color: #194eae;
}

.dev {
    margin: 0 auto;
    text-align:center;
    background-color:#167ecc;
    margin: 40px;
    border-radius:15px;
    border: 5px solid #0f83b0;
}

*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#ffffff;
    font-size:20px;
}

img {
    width: 30%;
    height: 30%;
     transition: width 1s cubic-bezier(0, 0, 1, 1) 500ms;
     transition: 50ms cubic-bezier(1, 1, 1, 1) 0ms;
}

img:hover {
   width:35%;
   height:35%;
   cursor:pointer;
}
